<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ws-test-igalia" version="1.0.0">
  <name>ws-test-igalia</name>
  <icon src="icon.png"/>
  <content src="index.html" type="text/html"/>
  <description>ws-test-igalia Proof of Concept</description>
  <author>LGE-SVL</author>
  <license>CLOSED</license>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:no-htdocs" value="required" />
  </feature>
  <feature name="urn:AGL:widget:required-api">
    <param name="windowmanager" value="ws" />
    <param name="homescreen" value="ws" />
    <param name="Bluetooth-Manager" value="ws" />
    <param name="ahl-4a" value="ws" />
    <param name="geoclue" value="ws" />
    <param name="identity" value="ws" />
    <param name="low-can" value="ws" />
    <param name="network-manager" value="ws" />
    <param name="nfc" value="ws" />
    <param name="persistence" value="ws" />
    <param name="unicens" value="ws" />
    <param name="weather" value="ws" />
  </feature>
</widget>
